pandas>=1.1.5,<=1.3.0
numpy<1.20
numba==0.53
networkx>=2.6.2
decorator>=4.3
seaborn>=0.11.0
matplotlib>=3.3.1
scikit-learn>=0.23.2
statsmodels>=0.12.0
scipy
altair
vega
pymongo
plotly
tqdm
matplotlib
umap-learn

