{% extends "_widget_base.md.jinja" %}

{% block demo_examples %}
## Examples

### Basic
<DemoWidget cmd={`stream.segment_overview(
    segment_col="platform",
    metrics=[
        {"metric": "length", "agg": "mean"},
        {"metric": "event_count", "metric_args": {"event": "purchase"}, "agg": "mean"},
    ],
)`} path="/docs-demos/widgets/segment-overview/basic.html" height={540} />
{% endblock %}
