{% extends "_widget_base.md.jinja" %}

{% block demo_examples %}
## Examples

### Default

<DemoWidget cmd={`stream.step_sankey()`} path="/docs-demos/widgets/step-sankey/default.html" height={500} />
{% endblock %}
