{% extends "_widget_base.md.jinja" %}

{% block demo_examples %}
## Examples

### Default

<DemoWidget cmd={`stream.step_matrix()`} path="/docs-demos/widgets/step-matrix/default.html" height={600} />
{% endblock %}
