{% extends "_widget_base.md.jinja" %}

{% block extra %}
### Edge weights

{{ bullets(headless.parameters, "edge_weight") }}

{% endblock %}

{% block demo_examples %}
## Examples

### Basic
<DemoWidget cmd={`stream.transition_graph()`} path="/docs-demos/widgets/transition-graph/basic.html" height={560} />

### Edge weight
<DemoWidget cmd={`stream.transition_graph(edge_weight="unique_paths")`} path="/docs-demos/widgets/transition-graph/edge_weight.html" height={560} />

### Diff mode
<DemoWidget cmd={`stream.transition_graph(diff=["platform", "mobile", "desktop"])`} path="/docs-demos/widgets/transition-graph/diff.html" height={560} />

{% endblock %}
