{% extends "_widget_base.md.jinja" %}

{% block headless_extra %}
### Edge weights

{{ bullets(headless.parameters, "edge_weight") }}

{% endblock %}

{% block demo_examples %}
## Examples

### Default

<DemoWidget cmd={`stream.transition_graph()`} path="/docs-demos/widgets/transition-graph/default.html" height={500} />
{% endblock %}
