<div id="{{block_id}}">
</div>
<script>
  (function () {
    const width = 960
    const height = 900

    const iframe = document.createElement("iframe")
    iframe.src = "about:blank"
    iframe.width = width
    iframe.height = height

    const renderBlock = document.getElementById("{{block_id}}")
    renderBlock.appendChild(iframe)

    iframe.contentWindow.__SERVER_ID__ = "{{server_id}}"
    iframe.contentWindow.__ENV__ = "{{env}}"
    iframe.contentWindow.__WIDTH__ = width
    iframe.contentWindow.__HEIGHT__ = height

    const fDocument = iframe.contentDocument
    const container = fDocument.createElement("div")
    container.id = "root"

    const script = fDocument.createElement("script")
    script.src = "https://static.server.retentioneering.com/viztools/preprocessing-graph/v3/preprocessing-graph.umd.js"
    script.type = "text/javascript"

    const link = fDocument.createElement("link")
    link.rel = "stylesheet"
    link.href = "https://static.server.retentioneering.com/viztools/preprocessing-graph/v3/style.css"

    fDocument.body.appendChild(container)
    fDocument.body.appendChild(script)
    fDocument.body.appendChild(link)
  })()
</script>
