<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#000000"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link crossorigin rel="preconnect" href="https://fonts.gstatic.com"/>
    <link
            crossorigin
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap"
            rel="stylesheet"
    />
    <title>Retentioneering Transition Graph Application</title>
</head>

<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
{{ content }}
</body>
</html>
